<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Page not found</title>
    <style>
        .list{
            list-style: none;
        }
    </style>
</head>
<body>
    <nav>
        <a id="home" href="/">Home</a>
    </nav>
    <main id="errorContainer" class="error-page">
        <div class="error-content">
            <h1 class="error-title">Oops! Page not found</h1>
            <p class="error-message">We're sorry, but the page you are looking for cannot be found.</p>
            <p class="error-suggestion">Here are some things you can try:</p>
            <ul class="error-suggestions">
                <li class="list">Check the URL for typos and try again.</li>
                <li class="list">Go back to the <a href="/">homepage</a> and navigate from there.</li>
                <li class="list">Contact the website administrator for further assistance.</li>
            </ul>
        </div>
    </main>
</body>
</html>
